{% extends 'base.html' %}
{% block content %}
  <h1>Welcome to <strong>Onio Attendence Portal!</strong></h1>
  <h3>Quickly Mark your Attendence by going on the "<strong>Mark Attendence</strong>" link above  ^</h3>
  <br><br>
  <p>Please Note: <br> Your Attendence will be marked in two Sessions, i.e.,
    <ol>
      <li><strong>Morning</strong></li>
      <li><strong>Evening</strong></li>
    </ol>
    <br>Also, You can ONLY Mark your Attendence in the respective Timings(IST):
    <br><br>
    <ol>
      <li><strong>Morning:</strong> 9:00AM to 9:30AM</li>
      <li><strong>Evening:</strong> 6:30PM to 9:00PM</li>
    </ol>
  </p>
{% endblock %}
